*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    background: #dbdbf3;
    box-sizing: 0 5px 15px rgba(0, 0, 0, 0.1);
    z-index: 999;
    position: sticky;
    top: 0;
}